graft trame_client/resources
graft trame_client/module/vue2-www
graft trame_client/module/vue3-www
recursive-exclude trame_client/module/vue2-www *.map
recursive-exclude trame_client/module/vue3-www *.map
include trame_client/LICENSE
